/*Added 20180425*/
.header__promo-banner a:hover, .header__promo-banner a:focus {
	text-decoration: underline;
}
#infotick {
	display: block !important;
}
#infotick ul li {
	display: block;
}
.header__promo-banner ul, .header__promo-banner ul li {
	list-style: none;
}
.header__promo-banner ul li, .header__promo-banner ul {
	list-style: none;
}
#modal1Title.modal_smallhead {
    font-size: 16px;
    font-weight: bold;
}
.remodal-cancel.close_jabtn {
    background: #000;
    padding: 8px 0;
    min-width: 90px;
}
.els-shop-sidebar li.cat-item.cat-item-153, .els-shop-sidebar li.cat-item.cat-item-152, .els-shop-sidebar li.cat-item.cat-item-154 {
	display: none !important;
	
}
.sub_banner {
    padding: 20px;
}