/* CSS Document */
.inst-txt img {
    vertical-align: middle;
}
.remodal.event-enter-modal {
    margin: 0;
}

.remodal.event-enter-modal h2#modal1Title {
    text-align: center;
    font-size: 1.75rem;
	line-height: 1.4;
}

.remodal.event-enter-modal .modal-content p:not(:last-child) {
    margin-bottom: 24px;
}
.event-modal-content .modal-logo {
    margin-bottom: 12px;
}

.event-modal-content  .modal-hero-title {
    font-size: 1rem;
    font-family: "brandon-grotesque",sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.check-location-button.button-before-icon i {
    font-size: 2.5rem;
}
ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.tabs > li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 12px 20px;
    border-bottom: 1px solid #CCC;
}
.browser-inst > ul.tabs > li {
	padding: 12px 5px;
}
ul.tabs > li.active {
    border-bottom-color: #000;
}
ul.tabs > li.active > a {
    font-weight: 600;
}
.tab_content {
    padding-top: 24px;
}
.button.button-goshop {
    font-weight: 600;
}
.enter-guest {
    margin-top: 24px;
}
.instruction-browser {
    margin-bottom: 24px;
}
.instruction-browser h2.set-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    line-height: 1;
    font-weight: bold;
}
.instruction-browser.device-inst h2.set-title:before {
    content: "\ea1a";
    display: inline-block;
    margin-right: 5px;
    font-family: 'caroevg' !important;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.modal_smallhead > i {
    margin-right: 8px;
}
.button.button-goshop > i {
    margin-right: 8px;
}
.login-registe__row .tabs li a i {
    vertical-align: middle;
}

.login-registe__row .tabs li {
    text-align: center;
}
#error_message_access > p {
	margin-bottom: 15px;
	color: red;
}
.not-get-geo p + .button {
	margin-top: 24px;
}
.not-get-geo h2 {
    font-size: 1.65rem;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}
@media only screen and (max-width: 47.99em) {
	.woocommerce-customer-logout.my-account-template .woocommerce-message {
    margin-top: 24px;
	text-align: center;
	}
	.woocommerce-customer-logout.my-account-template .woocommerce-message > a {
    display: inline-block;
    background: rgba(241,221,222,1);
    padding: 10px 15px;
    line-height: 1;
	}
	.check-location-button {
    padding-top: 12px;
    padding-bottom: 12px;
	}
	body.enter-template .remodal-wrapper {
    padding: 10px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	}
	.remodal.event-enter-modal {
		height: 100%;
		padding: 35px 24px;
	}
}