/* CSS Document */
.carome-event--site.gutter-padding--full {
    padding: 0;
}
.els-container-wrap.carome-event-shop .els-shop-content.row {
	
}
.woocommerce .els-shop-wrapper.woo-col-list ul.products li {
	padding: 0 1px;
    margin-right: 0 !important;
}
.event-message {
    text-align: center;
    padding: 16px 24px;
    line-height: 1;
    background: #000;
    color: #FFF;
    font-weight: 600;
    font-size: 12px;
}

.event-message:before {
    content: "";
    display: inline-block;
    background-color: rgb(235, 190, 80);
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
}
@media only screen and (min-width: 48em) {
	.woocommerce .els-shop-wrapper.woo-col-list ul.products li {
    width: 33.333%;
	}
}
@media only screen and (max-width: 47.9em) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 50%;
	}
}