/*--------------------------------

caroicons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */
@font-face {
  font-family: 'caroicons';
  src: url('caroicons.eot');
  src: url('caroicons.eot') format('embedded-opentype'), url('caroicons.woff2') format('woff2'), url('caroicons.woff') format('woff'), url('caroicons.ttf') format('truetype'), url('caroicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.carome-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'caroicons';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
.carome-icon.lg {
  font-size: 1.33333333em;
  vertical-align: -16%;
}
.carome-icon.x2 {
  font-size: 2em;
}
.carome-icon.x3 {
  font-size: 3em;
}
/*----------------------------------
  add a square/circle background
-----------------------------------*/
.carome-icon.square,
.carome-icon.circle {
  padding: 0.33333333em;
  vertical-align: -16%;
  background-color: #eee;
}
.carome-icon.circle {
  border-radius: 50%;
}
/*------------------------
  list icons
-------------------------*/
.carome-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.carome-icon-ul > li {
  position: relative;
}
.carome-icon-ul > li > .carome-icon {
  position: absolute;
  left: -1.57142857em;
  top: 0.14285714em;
  text-align: center;
}
.carome-icon-ul > li > .carome-icon.lg {
  top: 0;
  left: -1.35714286em;
}
.carome-icon-ul > li > .carome-icon.circle,
.carome-icon-ul > li > .carome-icon.square {
  top: -0.19047619em;
  left: -1.9047619em;
}
/*------------------------
  spinning icons
-------------------------*/
.carome-icon.spin {
  -webkit-animation: carome-icon-spin 2s infinite linear;
  -moz-animation: carome-icon-spin 2s infinite linear;
  animation: carome-icon-spin 2s infinite linear;
}
@-webkit-keyframes carome-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes carome-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes carome-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
.carome-icon.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.carome-icon.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.carome-icon.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.carome-icon.flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.carome-icon.flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*------------------------
	font icons
-------------------------*/

.carome-zoom-2::before {
    content: "\ea02";
}

.carome-bag-09::before {
    content: "\ea05";
}

.carome-heart-2::before {
    content: "\ea06";
}

.carome-single-01::before {
    content: "\ea07";
}

.carome-simple-remove::before {
    content: "\ea08";
}

.carome-menu-34::before {
    content: "\ea09";
}

.carome-minimal-right::before {
    content: "\ea0a";
}

.carome-minimal-up::before {
    content: "\ea0b";
}

.carome-minimal-left::before {
    content: "\ea0c";
}

.carome-minimal-down::before {
    content: "\ea0d";
}

.carome-log-out::before {
    content: "\ea0e";
}

.carome-log-in::before {
    content: "\ea0f";
}

.carome-menu-to-close-2::before {
    content: "\ea10";
}

.carome-i-sorting::before {
    content: "\ea11";
}

.carome-contacts-2::before {
    content: "\ea12";
}

.carome-home-simple::before {
    content: "\ea13";
}

.carome-email-84::before {
    content: "\ea14";
}

.carome-phone-2::before {
    content: "\ea15";
}

.carome-box-3d-50::before {
    content: "\ea16";
}

.carome-fav-remove::before {
    content: "\ea17";
}

.carome-bag-remove-19::before {
    content: "\ea18";
}

.carome-ban::before {
    content: "\ea19";
}

.carome-a-delete::before {
    content: "\ea1a";
}

.carome-credit-card::before {
    content: "\ea1b";
}

.carome-money-11::before {
    content: "\ea1c";
}

.carome-alert-circle-i::before {
    content: "\ea1d";
}

.carome-alert-circle-que::before {
    content: "\ea1e";
}

.carome-delivery::before {
    content: "\ea1f";
}

.carome-calendar-grid-58::before {
    content: "\ea20";
}

.carome-time::before {
    content: "\ea21";
}

.carome-delivery-time::before {
    content: "\ea22";
}

.carome-speaker::before {
    content: "\ea23";
}

.carome-alert::before {
    content: "\ea24";
}

.carome-sale::before {
    content: "\ea25";
}

.carome-new::before {
    content: "\ea26";
}

.carome-gift-2::before {
    content: "\ea27";
}

.carome-heart-2-2::before {
    content: "\ea28";
}

.carome-small-add::before {
    content: "\ea29";
}

.carome-small-delete::before {
    content: "\ea2a";
}


/* all icon font classes list here */
